In [48]:
### Import standard modules ###
import numpy as np
import pandas as pd
import json

In [49]:
### Define set of parsing functions ###

def CustomParser(data):
    j1 = json.loads(data)
    return j1

def filter_json(x):
    x=x[0]
    try:
        x['value']=x['value'][0]
    except:
        x['value'] = {u'answers': {}, u'choice': {}, u'filters': {}}
    return x

def extract_choice(x):
    y = []
    y.append((str(x['value']['choice'])))
    return y

def extract_tasks(x):
    x=x['task']
    return x

def extract_answers(x):
    x=x['value']['answers']
    return x

def extract_filters(x):
    x=['value']['filters']
    return x

def extract_zooID(x):
    x=int(list(x.keys())[0])
    return x

def extract_FileName1(x):
    try:
        x = x[list(x.keys())[0]]['Filename1'].split('_')[1]
    except:
        x = ''
    return x

def check_upload(x):
    if len(x.split(';')) == 4:
        x = True
    else:
        x = False
    return x

def check_anno(x):
    if len(x) == 1:
        x = True
    else:
        x = False
    return x

def convert_to_int(x):
    try:
        x=int(x)
    except:
        x=False
    return x

In [67]:
### Reading in csv with custom read for those column in JSON format ###

# Define location of classification file
class_file = "gravity-spy-classifications.csv" 
# Create dataframe from csv
data1 = pd.read_csv(class_file,converters={'annotations':CustomParser,'subject_data':CustomParser})

# Change ID to int
data1['user_id'] = data1['user_id'].apply(convert_to_int)
# Doing a mild work around for the json format of the annontation column
data1['annotations']    = data1['annotations'].apply(filter_json)
# Extracting choice and making it a column
data1['choice']         = data1['annotations'].apply(extract_choice)
# Extracting the task entry and making it a column
data1['tasks']          = data1['annotations'].apply(extract_tasks)
# Extracting answers and making it a column
data1['answers']        = data1['annotations'].apply(extract_answers)
# Extracting zooniverse ID it gave this subject and making it a column
data1['zooID']          = data1['subject_data'].apply(extract_zooID) 
# Extracting uniqueID assigned to the image during image creation and making it a column
data1['imageID']       = data1['subject_data'].apply(extract_FileName1)
# Get cumulative count of number of prior classifications by user
data1['classification_number'] = data1.groupby('user_id').cumcount()
# Making sure that the subject_ids for a given classification is 4. If not I uploaded the images wrong for that subject
data1['goodUpload']     = data1['subject_ids'].apply(check_upload)
# Making sure the number of annotation is of size 1 (i.e. they did not do multiple annotation)
data1['numAnnotations'] = data1['choice'].apply(check_anno)


# Dropping annotations,subject_data, and subject_ids
data1 = data1.drop('annotations',1)
data1 = data1.drop('subject_data',1)
data1 = data1.drop('subject_ids',1)

In [51]:
### Check if workflow version is acceptable ###
versions = [36.7,380.7,692.102,714.11399999999992] # List of acceptable versions
data1['goodWorkFlow'] = (data1['workflow_version'].isin(versions)) # Add column of booleans, true means acceptable

In [52]:
### Version specific quality checks ###

# Data for converting old to new imageIDs
id_data = pd.read_csv('IDmatchall.txt',delim_whitespace=True,skiprows=1,names=['new_imageID','old_imageID'])

beta_check = ~data1.workflow_version.isin([692.102, 714.11399999999992]) # Check if classification from beta 2.0
id_check = data1.imageID.isin(id_data['old_imageID']) # Check if imageID has a new ID

data1['goodID'] = beta_check | id_check # Apply bitwise or to checks, append to dataframe

In [53]:
### Apply data quality cuts ###
data1 = data1[data1.goodUpload & data1.numAnnotations & data1.goodWorkFlow & data1.goodID & data1.user_id != False]

# Drop unnecessary columns
data1 = data1.drop('user_ip',1)
data1 = data1.drop('workflow_name',1)
data1 = data1.drop('created_at',1)
data1 = data1.drop('gold_standard',1)
data1 = data1.drop('expert',1)
data1 = data1.drop('tasks',1)
data1 = data1.drop('answers',1)
data1 = data1.drop('goodUpload',1)
data1 = data1.drop('numAnnotations',1)
data1 = data1.drop('goodWorkFlow',1)
data1 = data1.drop('goodID',1)
data1 = data1.drop('metadata',1)

In [54]:
#data1.pivot(index='imageID',columns='choice',values='choice')
#data1.groupby('imageID').sum()
pd.pivot_table(data1,index='imageID')

,classification_id,classification_number,workflow_id,workflow_version,zooID
imageID,,,,,
001JFg1zZn,11499012.000000,3235.500000,1479,380.700000,1951944
001PElpkuv,11765914.750000,330.875000,1479,380.700000,1951945
001rVzbSPh,11562750.500000,4613.500000,1479,380.700000,1939356
002U5q9uFK,11245787.000000,1261.000000,1479,380.700000,1951946
008zHCoBcj,11337361.000000,2343.000000,1479,380.700000,1939357
009CGIYfPp,11721950.500000,3160.500000,1479,380.700000,1951947
009S1uci6w,12026828.000000,7724.000000,1479,380.700000,1951948
009SMTyP3u,11264038.666667,1164.333333,1479,380.700000,1939358
00By4Fnnm6,11474208.333333,1084.833333,1479,380.700000,1951954
00CGhqJj1a,11181963.000000,875.000000,1479,380.700000,1939359
00EFORhdkt,11901509.000000,5833.000000,1479,380.700000,1939360
00FBAlrNj7,11890573.000000,5385.000000,1479,380.700000,1951959
00G0vd6UiS,12076724.000000,8177.000000,1479,380.700000,1951961
00I6AqMfE5,11524584.500000,3612.000000,1479,380.700000,1939361
00IayEZ9RK,11433317.000000,2358.000000,1479,380.700000,1939362
00J4Xbu6YS,12023964.000000,7482.000000,1479,380.700000,1939363
00JtHxfsHi,11992328.000000,6880.000000,1479,380.700000,1951967
00KClmaxCh,12024741.000000,7565.000000,1479,380.700000,1951968
00KfRdixlz,11838790.000000,4199.000000,1479,380.700000,1951969
00LbZLJfCn,13386222.000000,395.333333,1935,36.700000,2180894
00Lv5cKlwn,11776045.000000,3509.000000,1479,380.700000,1951970
00M1MYhdoy,11137891.111111,289.555556,1479,380.700000,1939366
00ME7GHvK2,11225544.200000,304.000000,1479,380.700000,1951971
00MojM6AAL,12119286.000000,9392.000000,1479,380.700000,1951972
00OOLnhvzj,11885899.000000,5294.000000,1479,380.700000,1951974
00ObWXtXCl,11468184.500000,3088.500000,1479,380.700000,1939368
00R4avWtmE,11862736.000000,4780.000000,1479,380.700000,1951975
00RNWMrAU1,11497127.375000,632.375000,1479,380.700000,1951976
00SZv0tuJc,11172796.545455,977.909091,1479,380.700000,1939371
00SguwBmj5,12032803.000000,7812.000000,1479,380.700000,1951977
...,...,...,...,...,...
zeQcNlPItf,13376202.666667,211.333333,1935,36.700000,2180854
zf5W7WtjhR,13356625.000000,251.000000,1935,36.700000,2180856
zhr9KfUosO,13534783.500000,6403.000000,1479,692.102000,2224070
ziLuh1ReYd,13525259.250000,551.250000,1479,697.605000,2208427
zj9PUU4mun,13535143.875000,1832.750000,1479,700.356500,2224120
zjUolCJR1x,13398595.000000,9.000000,1935,36.700000,2189707
zjXY2HamKj,13398378.333333,321.333333,1935,36.700000,2180870
zjaAgGBdgV,13607033.400000,2730.000000,1479,700.906800,2224137
zkafAxzIIH,13601033.400000,2965.600000,1479,709.711600,2208474
zkfi6xvKLz,13428389.444444,1547.777778,1479,694.547778,2224167
zlBFYAyuBP,13437451.000000,151.000000,1935,36.700000,2181364
znJ1SCp55f,13628677.000000,12073.000000,1479,714.114000,2224219
zoQgUKRbxR,13538439.000000,680.000000,1479,699.439333,2224223
zocIswi6oA,13595745.666667,5015.666667,1479,699.439333,2224228
zpWvxfFDtu,13811850.500000,7607.000000,1479,714.114000,2224278
zpZq0UhUY6,13519949.000000,1612.000000,1479,692.102000,2224283
zpuz8MMW3x,13540578.000000,1203.000000,1479,699.439333,2208546
zq0CG4I1Jg,13872655.666667,5691.333333,1479,714.114000,2208550
zqGQOsNkGv,10999332.086957,29.217391,1479,380.700000,1932905
zqjiASn1Gc,13615309.000000,6381.500000,1479,714.114000,2208576
zrikbtgjMK,13564019.800000,5161.000000,1479,705.309200,2208599
ztwftjwluN,13465625.166667,348.666667,1479,699.439333,2224383
zu6k6GNbcV,13474272.333333,2096.166667,1479,695.770667,2224386
zuJ6crCXRi,13371662.000000,369.000000,1935,36.700000,2189404
zvxQ8KlfIC,13719501.000000,12674.000000,1479,714.114000,2208635
zwPIvpTO0V,13434447.000000,804.000000,1479,692.102000,2224421
zxw5baH2nA,13367761.500000,164.750000,1935,36.700000,2180909
zy9kPFsEsD,13322805.500000,124.500000,1935,36.700000,2189409
zzQr5OeP19,13360861.666667,106.666667,1935,36.700000,2189715
zzgFBWqnHb,13622661.000000,4920.000000,1479,706.776667,2224455

In [55]:
### Code to check label options for each workflow version ###

for iV in versions:
    version = np.unique(data1[data1['workflow_version'] == iV]['choice'])
    print("version {0}".format(iV))
    print("length {0}".format(len(data1[data1['workflow_version'] == iV])))
    print(version)
    print("end")

version 36.7
length 4184
[['BLP'] ['CHRP'] ['KFSH'] ['PWRLN60HZ'] ['SCTTRDLGHT'] ['WHSTL']]
end
version 380.7
length 26047
[['45MHZLGHTMDLTN'] ['BLP'] ['CHRP'] ['CLBRTNLN300HZ'] ['DNTSGLTCH']
 ['KFSH'] ['LWFRQNCBRST'] ['NNFTHBV'] ['PWRLN60HZ'] ['SCRTCH']
 ['SCTTRDLGHT'] ['VLNHRMNC500HZ'] ['WHSTL'] ['WNDRNGLN'] ['XTRMLLD']]
end
version 692.102
length 9755
[['45MHZLGHTMDLTN'] ['50HZ'] ['BLP'] ['CHRP'] ['HLX'] ['KFSH']
 ['LWFRQNCBRST'] ['LWFRQNCLN'] ['NGLTCH'] ['NNFTHBV'] ['PRDDVS']
 ['PWRLN60HZ'] ['RPTNGBLPS'] ['SCRTCH'] ['SCTTRDLGHT'] ['TMT']
 ['VLNMDHRMNC500HZ'] ['WHSTL'] ['WNDRNGLN'] ['XTRMLLD']]
end
version 714.1139999999999
length 5223
[['BLP'] ['CHRP'] ['HLX'] ['KFSH'] ['LGHTMDLTN'] ['LWFRQNCBRST']
 ['LWFRQNCLN'] ['NGLTCH'] ['NNFTHBV'] ['PRDDVS'] ['PWRLN60HZ']
 ['RCMPRSSR50HZ'] ['RPTNGBLPS'] ['SCRTCH'] ['SCTTRDLGHT'] ['TMT']
 ['VLNMDHRMNC500HZ'] ['WHSTL'] ['WNDRNGLN'] ['XTRMLLD']]
end

In [56]:
### Dict for converting alpha labels to int labels ###
label_dict = {'45MHZLGHTMDLTN':0,'LGHTMDLTN':0,'50HZ':1,'RCMPRSSR50HZ':1,'BLP':2,'CHRP':3,'XTRMLLD':4,'HLX':5,'KFSH':6,
              'LWFRQNCBRST':7,'LWFRQNCLN':8,'NGLTCH':9,'DNTSGLTCH':9,'NNFTHBV':10,'PRDDVS':11,'60HZPWRLN':12,'60HZPWRMNS':12,
              'PWRLN60HZ':12,'RPTNGBLPS':13,'SCTTRDLGHT':14,'SCRTCH':15,'TMT':16,'VLNHRMNC500HZ':17,'VLNMDHRMNC500HZ':17,
              'HRMNCS':17,'WNDRNGLN':18,'WHSTL':19}

In [66]:
data1.dtypes

classification_id          int64
user_name                 object
user_id                   object
user_ip                   object
workflow_id                int64
workflow_name             object
workflow_version         float64
created_at                object
gold_standard            float64
expert                   float64
metadata                  object
choice                    object
tasks                     object
answers                   object
zooID                      int64
imageID                   object
classification_number      int64
goodUpload                  bool
numAnnotations              bool
dtype: object

In [47]:
### READ FILE FOR CONVERTING imageIDs ###
id_match = pd.read_csv('IDmatchall.txt') #read in file
tmp_new = []
tmp_old = []
no_match = [] #list of imageIDs with no match (timestamp errors)
id_dict = {} #empty dict for converting imageIDs

for i in id_match['# New       Old']:
    if len(i)>10:
        i = i.split(' ')
        tmp_new.append(i[0])
        tmp_old.append(i[1])

id_match = pd.DataFrame({'new':tmp_new,'old':tmp_old})

for a,b in zip(id_match['new'],id_match['old']):
    id_dict[b] = a

In [30]:
### APPEND ALL PERTINENT DATA TO LIST ###

tmp_user= []
tmp_user_id = []
tmp_workflow = []
tmp_task = []
tmp_choice = []
tmp_retired = []
tmp_unique_id = []
tmp_zoo_id = []

for i in range(len(data)):
    # create list to hold to output information of each classification
    output = []
    # Check that there was only 1 choice made...
    annotations = json.loads(data[i][11])
    idcheck = data[i][2]
    if str(annotations).count('choice') == 1 and not np.isnan(idcheck):
        user = data[i,1]
        user_id = data[i,2]
        workflow = data[i,5]
        
        # annotations
        task = annotations[0]["task"]
        choice = annotations[0]["value"][0]["choice"]
        
        # subject data
        subject_data = json.loads(data[i][12])
        for key in subject_data:
            zoo_id = key
            retired = subject_data[key]['retired']
            unique_id = subject_data[key]['subject_id']
        
        # Append this information into a temporary output file
        tmp_user_id.append(user_id)
        tmp_workflow.append(workflow)
        tmp_task.append(task)
        tmp_choice.append(choice)
        tmp_retired.append(retired)
        tmp_unique_id.append(unique_id)
        tmp_zoo_id.append(zoo_id)
        
# Store each of the classification data
classifications = pd.DataFrame({'imageID':tmp_unique_id,'userID':tmp_user_id,'workflow':tmp_workflow,
                                'task':tmp_task,'label':tmp_choice,'type':tmp_retired, 'zooID':tmp_zoo_id})

In [127]:
images

,ML_posterior,imageID,labels,truelabel,type,userIDs,zooID
0,[],HauRDnEd8q,"[10, 10, 10, 10, 10, 10, 9, 10]",-1,T,"[835158, 1498433, 637439, 239792, 132, 82, 227...",2210216
1,[],qOOEUMNyGi,[7],-1,T,[239792],2207683
2,[],GGfpUmYtJD,"[9, 9, 9, 9, 9]",-1,T,"[1498519, 1498701, 530281, 239792, 243841]",2209323
3,[],N70PSqtshJ,[11],-1,T,[322252],2200834
4,[],j99whZS7hL,"[9, 15, 15, 15]",-1,T,"[1047240, 239792, 82, 497320]",2211647
5,[],tRBVjF55Ah,"[11, 8, 8, 11, 8]",-1,T,"[1498519, 239792, 82, 322252, 2274]",2219760
6,[],NCCpMZbVi0,[9],-1,T,[102001],2215367
7,[],EPTjErvJJi,"[15, 13, 13, 11]",-1,T,"[835158, 239792, 2909, 82]",2209896
8,[],FBQL7ephxf,"[9, 9, 9, 9, 9]",-1,T,"[1498519, 1498433, 239792, 82, 322252]",2196270
9,[],RFhohs0FxA,"[13, 13, 13, 11]",-1,T,"[82, 239792, 2274, 322252]",2215595
10,[],Ye0YlVsQSL,"[8, 12]",-1,T,"[2260, 497320]",2206173
11,[],hvCygv2sfe,[16],-1,T,[239792],2202436
12,[],KWj146vF4P,"[16, 16, 16, 16, 10]",-1,T,"[835158, 1245626, 2260, 18049, 1499092]",2197809
13,[],fZT7VYXBKo,"[3, 3, 4, 3, 3, 3]",-1,T,"[239792, 2274, 1217655, 529667, 322252, 82]",2200501
14,[],QtscIzP4mc,"[8, 8, 8]",-1,T,"[2260, 82, 322252]",2217947
15,[],0VgsIcsJLL,"[17, 3, 3]",-1,T,"[2260, 132, 497320]",2192006
16,[],x38EHqIOQu,"[15, 15, 15, 9, 15, 15]",-1,T,"[2909, 2260, 346679, 31153, 322252, 239792]",2206572
17,[],gstsWOFQLj,"[15, 11, 8]",-1,T,"[547297, 1562, 82]",2202728
18,[],Sz2C93FXdu,"[8, 8, 8]",-1,T,"[2260, 82, 239792]",2218314
19,[],dWcCbWa8nX,"[3, 3, 3, 3]",-1,T,"[637439, 4261, 322252, 82]",2200587
20,[],DSfvfO4P8p,"[2, 2, 2, 11, 2]",-1,T,"[529667, 239792, 4261, 322252, 2274]",2209877
21,[],6L0PylKCUs,[8],-1,T,[1498502],2195189
22,[],Pvq31iPEc6,"[9, 9]",-1,T,"[322252, 239792]",2218018
23,[],oBum3vWEFf,"[1, 11]",-1,T,"[2909, 82]",2203302
24,[],Ja4m8mxDLR,"[13, 13, 13]",-1,T,"[82, 18049, 322252]",2198199
25,[],t9nfvl8xDg,"[15, 15, 15, 11]",-1,T,"[1221152, 2260, 1397526, 322252]",2206928
26,[],07j5X77abG,"[8, 8, 8, 8]",-1,T,"[322252, 2274, 82, 239792]",2191798
27,[],QRbcP9EHNX,"[12, 12, 11]",-1,T,"[2260, 18049, 239792]",2205599
28,[],cUDm7WAiV4,"[10, 10, 10, 11, 11, 10]",-1,T,"[2260, 2909, 239792, 82, 322252, 1217655]",2204172
29,[],1J04lp2Xu0,"[15, 15, 9]",-1,T,"[239792, 1499133, 322252]",2194887
...,...,...,...,...,...,...,...
2946,[],mvoaK2VXE8,[2],-1,T,[239792],2221075
2947,[],GYWD4yZxBR,"[9, 2, 11]",-1,T,"[2260, 239792, 322252]",2210205
2948,[],CEPtXwoFot,"[3, 3]",-1,T,"[530281, 2274]",2196265
2949,[],kywBsUuC3j,"[13, 11, 13]",-1,T,"[2909, 239792, 82]",2214219
2950,[],ENpx7Uq6YV,"[9, 15, 9, 9, 15, 15, 15]",-1,T,"[1460701, 2909, 18049, 2274, 239792, 497320, 82]",2196559
2951,[],gvDB1fn6Lh,"[15, 15, 15]",-1,T,"[1498785, 637439, 239792]",2202840
2952,[],uvdcRIlwLY,"[8, 9, 8, 9, 8, 8]",-1,T,"[2909, 835158, 239792, 2274, 346679, 82]",2220535
2953,[],lEnJ3xiYav,"[8, 8, 8]",-1,T,"[2909, 239792, 82]",2212384
2954,[],Nlf2pGrIqV,"[8, 8]",-1,T,"[322252, 82]",2217787
2955,[],8HbYU73sXo,"[3, 11, 14, 14]",-1,T,"[31153, 497320, 322252, 1562]",2193816
2956,[],EszqH01Grw,"[8, 8, 8, 9, 11]",-1,T,"[82, 2260, 1499133, 2274, 322252]",2211241
2957,[],vqvHDF8Isr,"[9, 9]",-1,T,"[637439, 529667]",2224160
2958,[],5smiMunmU4,"[10, 10, 10]",-1,T,"[2260, 82, 322252]",2197736
2959,[],rlSwI0qzpA,"[11, 8, 8, 8, 8]",-1,T,"[82, 2260, 530281, 18049, 4261]",2220217
2960,[],aU1e5lNTLa,"[11, 8, 8, 9]",-1,T,"[1498519, 82, 322252, 2274]",2204140
2961,[],vZhJ5Qmx1e,[10],-1,T,[322252],2223701
2962,[],WArKbCVkUd,"[3, 3, 3]",-1,T,"[1498701, 1499096, 82]",2221479
2963,[],f0kRAcubm0,"[12, 14, 14]",-1,T,"[637439, 239792, 4261]",2198843
2964,[],MocthqVAjG,"[11, 18, 11, 18, 11, 11]",-1,T,"[2260, 530281, 239792, 2274, 82, 322252]",2199280
2965,[],ufzHojr6j0,"[11, 7, 5]",-1,T,"[239792, 322252, 82]",2219908
2966,[],I6YipPOgIz,[7],-1,T,[239792],2209070
2967,[],2bgOJFs8fU,"[8, 11]",-1,T,"[239792, 322252]",2195770
2968,[],I5UAIeuAxK,"[8, 8, 8, 8, 8]",-1,T,"[1498433, 2260, 239792, 18049, 322252]",2208998
2969,[],LwA2h5Rm3E,[7],-1,T,[2260],2199309
2970,[],TV28OxsWAR,[8],-1,T,[239792],2216826
2971,[],qTyiTZmRGu,"[11, 11]",-1,T,"[2274, 322252]",2207965
2972,[],IKGRX9EFZe,[8],-1,T,[239792],2209616
2973,[],dbbyqotdem,"[8, 5, 8, 8]",-1,T,"[2260, 239792, 2274, 322252]",2213161
2974,[],WpFIXGl7EP,"[8, 8, 8]",-1,T,"[2274, 322252, 82]",2222487
2975,[],1ls77Zbwak,"[15, 9, 9, 9]",-1,T,"[239792, 4261, 322252, 1217655]",2192618

In [85]:
uniques = set(np.unique(classifications['imageID'])) #create set of unique imageIDs
keys = set(id_dict.keys()) #create set of new imageIDs from id_dict
uniques = list(uniques.intersection(keys)) #find intersection of sets, convert to list

In [24]:
#function to create lists of empty lists
def emptylist(x):
    elist = []
    for i in range(x):
        elist.append([])
    return elist

In [120]:
### READ CLASSIFICATIONS FROM GRAVSPY BETA ###

#turn off unnecessary warning about setting values to slice of dataframe
pd.options.mode.chained_assignment = None  # default='warn'

#create dataframe, length of uniques, without labels or userIDs
images = pd.DataFrame({'type':['T']*len(uniques),'labels':emptylist(len(uniques)),
                        'userIDs':emptylist(len(uniques)),'ML_posterior':emptylist(len(uniques)),
                        'truelabel':[-1]*len(uniques),'imageID':uniques,'zooID':emptylist(len(uniques))})

for i in range(len(uniques)): #iterate over unique imageIDs
    
    classifications_idx = np.where((uniques[i] == classifications['imageID']))[0][0]
    
    images['zooID'][i] = int(classifications.loc[[classifications_idx], 'zooID'])
    
    for locations in np.where(uniques[i] == classifications['imageID']): #iterate over arrays of where unique imageID appears
        
        images_idx = np.where(uniques[i] == images['imageID'])[0][0] #find index of line in images where unique imageID appears
        
        for location in locations: #iterate over elements in array of locations in classifications where unique imageID appears
        
            images['labels'][images_idx].append(label_dict[classifications['label'][location]]) #append numeric label
            images['userIDs'][images_idx].append(int(classifications['userID'][location])) #append userID
            
for imageID in images['imageID']:

    imageID = id_dict[imageID]

In [133]:
### READ CLASSIFICATIONS OF GOLDEN IMAGES ###

goldendata = pd.read_csv('GLabel.csv')

for i in range(len(goldendata)): #iterate over data
    
    try:
        images_idx = np.where(int(goldendata['zooID'][i]) == images['zooID'])[0][0] #find location in images dataframe
        images['truelabel'][images_idx] = int(goldendata['Classification'][i]) #change true label to golden classification
        images['type'][images_idx] = 'G' #change image type to golden
        
    except:
        pass #to catch errors caused by images in goldendata not being in images dataframe

In [134]:
images

,ML_posterior,imageID,labels,truelabel,type,userIDs,zooID
0,[],HauRDnEd8q,"[10, 10, 10, 10, 10, 10, 9, 10]",-1,T,"[835158, 1498433, 637439, 239792, 132, 82, 227...",2210216
1,[],qOOEUMNyGi,[7],-1,T,[239792],2207683
2,[],GGfpUmYtJD,"[9, 9, 9, 9, 9]",-1,T,"[1498519, 1498701, 530281, 239792, 243841]",2209323
3,[],N70PSqtshJ,[11],-1,T,[322252],2200834
4,[],j99whZS7hL,"[9, 15, 15, 15]",-1,T,"[1047240, 239792, 82, 497320]",2211647
5,[],tRBVjF55Ah,"[11, 8, 8, 11, 8]",-1,T,"[1498519, 239792, 82, 322252, 2274]",2219760
6,[],NCCpMZbVi0,[9],-1,T,[102001],2215367
7,[],EPTjErvJJi,"[15, 13, 13, 11]",-1,T,"[835158, 239792, 2909, 82]",2209896
8,[],FBQL7ephxf,"[9, 9, 9, 9, 9]",-1,T,"[1498519, 1498433, 239792, 82, 322252]",2196270
9,[],RFhohs0FxA,"[13, 13, 13, 11]",-1,T,"[82, 239792, 2274, 322252]",2215595
10,[],Ye0YlVsQSL,"[8, 12]",-1,T,"[2260, 497320]",2206173
11,[],hvCygv2sfe,[16],-1,T,[239792],2202436
12,[],KWj146vF4P,"[16, 16, 16, 16, 10]",-1,T,"[835158, 1245626, 2260, 18049, 1499092]",2197809
13,[],fZT7VYXBKo,"[3, 3, 4, 3, 3, 3]",-1,T,"[239792, 2274, 1217655, 529667, 322252, 82]",2200501
14,[],QtscIzP4mc,"[8, 8, 8]",-1,T,"[2260, 82, 322252]",2217947
15,[],0VgsIcsJLL,"[17, 3, 3]",-1,T,"[2260, 132, 497320]",2192006
16,[],x38EHqIOQu,"[15, 15, 15, 9, 15, 15]",-1,T,"[2909, 2260, 346679, 31153, 322252, 239792]",2206572
17,[],gstsWOFQLj,"[15, 11, 8]",-1,T,"[547297, 1562, 82]",2202728
18,[],Sz2C93FXdu,"[8, 8, 8]",-1,T,"[2260, 82, 239792]",2218314
19,[],dWcCbWa8nX,"[3, 3, 3, 3]",-1,T,"[637439, 4261, 322252, 82]",2200587
20,[],DSfvfO4P8p,"[2, 2, 2, 11, 2]",-1,T,"[529667, 239792, 4261, 322252, 2274]",2209877
21,[],6L0PylKCUs,[8],-1,T,[1498502],2195189
22,[],Pvq31iPEc6,"[9, 9]",-1,T,"[322252, 239792]",2218018
23,[],oBum3vWEFf,"[1, 11]",-1,T,"[2909, 82]",2203302
24,[],Ja4m8mxDLR,"[13, 13, 13]",-1,T,"[82, 18049, 322252]",2198199
25,[],t9nfvl8xDg,"[15, 15, 15, 11]",-1,T,"[1221152, 2260, 1397526, 322252]",2206928
26,[],07j5X77abG,"[8, 8, 8, 8]",-1,T,"[322252, 2274, 82, 239792]",2191798
27,[],QRbcP9EHNX,"[12, 12, 11]",-1,T,"[2260, 18049, 239792]",2205599
28,[],cUDm7WAiV4,"[10, 10, 10, 11, 11, 10]",-1,T,"[2260, 2909, 239792, 82, 322252, 1217655]",2204172
29,[],1J04lp2Xu0,"[15, 15, 9]",-1,T,"[239792, 1499133, 322252]",2194887
...,...,...,...,...,...,...,...
2946,[],mvoaK2VXE8,[2],-1,T,[239792],2221075
2947,[],GYWD4yZxBR,"[9, 2, 11]",-1,T,"[2260, 239792, 322252]",2210205
2948,[],CEPtXwoFot,"[3, 3]",-1,T,"[530281, 2274]",2196265
2949,[],kywBsUuC3j,"[13, 11, 13]",-1,T,"[2909, 239792, 82]",2214219
2950,[],ENpx7Uq6YV,"[9, 15, 9, 9, 15, 15, 15]",-1,T,"[1460701, 2909, 18049, 2274, 239792, 497320, 82]",2196559
2951,[],gvDB1fn6Lh,"[15, 15, 15]",-1,T,"[1498785, 637439, 239792]",2202840
2952,[],uvdcRIlwLY,"[8, 9, 8, 9, 8, 8]",-1,T,"[2909, 835158, 239792, 2274, 346679, 82]",2220535
2953,[],lEnJ3xiYav,"[8, 8, 8]",-1,T,"[2909, 239792, 82]",2212384
2954,[],Nlf2pGrIqV,"[8, 8]",-1,T,"[322252, 82]",2217787
2955,[],8HbYU73sXo,"[3, 11, 14, 14]",-1,T,"[31153, 497320, 322252, 1562]",2193816
2956,[],EszqH01Grw,"[8, 8, 8, 9, 11]",-1,T,"[82, 2260, 1499133, 2274, 322252]",2211241
2957,[],vqvHDF8Isr,"[9, 9]",-1,T,"[637439, 529667]",2224160
2958,[],5smiMunmU4,"[10, 10, 10]",10,G,"[2260, 82, 322252]",2197736
2959,[],rlSwI0qzpA,"[11, 8, 8, 8, 8]",-1,T,"[82, 2260, 530281, 18049, 4261]",2220217
2960,[],aU1e5lNTLa,"[11, 8, 8, 9]",-1,T,"[1498519, 82, 322252, 2274]",2204140
2961,[],vZhJ5Qmx1e,[10],-1,T,[322252],2223701
2962,[],WArKbCVkUd,"[3, 3, 3]",-1,T,"[1498701, 1499096, 82]",2221479
2963,[],f0kRAcubm0,"[12, 14, 14]",-1,T,"[637439, 239792, 4261]",2198843
2964,[],MocthqVAjG,"[11, 18, 11, 18, 11, 11]",-1,T,"[2260, 530281, 239792, 2274, 82, 322252]",2199280
2965,[],ufzHojr6j0,"[11, 7, 5]",7,G,"[239792, 322252, 82]",2219908
2966,[],I6YipPOgIz,[7],-1,T,[239792],2209070
2967,[],2bgOJFs8fU,"[8, 11]",-1,T,"[239792, 322252]",2195770
2968,[],I5UAIeuAxK,"[8, 8, 8, 8, 8]",-1,T,"[1498433, 2260, 239792, 18049, 322252]",2208998
2969,[],LwA2h5Rm3E,[7],-1,T,[2260],2199309
2970,[],TV28OxsWAR,[8],-1,T,[239792],2216826
2971,[],qTyiTZmRGu,"[11, 11]",13,G,"[2274, 322252]",2207965
2972,[],IKGRX9EFZe,[8],-1,T,[239792],2209616
2973,[],dbbyqotdem,"[8, 5, 8, 8]",-1,T,"[2260, 239792, 2274, 322252]",2213161
2974,[],WpFIXGl7EP,"[8, 8, 8]",-1,T,"[2274, 322252, 82]",2222487
2975,[],1ls77Zbwak,"[15, 9, 9, 9]",-1,T,"[239792, 4261, 322252, 1217655]",2192618